* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2B2F38;
    height: 100dvh;
}


img {
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    background-color: #ffffff25;
    border: 3px solid rgb(9, 212, 9);
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: .7;
        transform: scale(1);
    }

    to {
        opacity: 0.4;
        transform: scale(1.05);
    }
}

@media screen and (max-width: 1024px) {

    img {
        width: 100dvw;
        height: 100dvh;
    }
}